body {
	font-family: "Montserrat", sans-serif;
}
a {
	color: #06c;
}
img {
	max-width: 100%;
}
.white {
	color: #fff;
}
.black {
	color: #1d1d1f;
}
.grey {
	color: #86868b;
}
/* Header */
.nav-tool {
	background: rgba(0, 0, 0, 0.8);
	font-size: 0.85em;
	font-weight: 200;
}
.nav-tool ul li a {
	color: #fff;
}
.navbar-toggler {
	color: #fff;
}
.nav-item {
	text-align: left !important;
	padding: 4px 0;
	border-bottom: 1px solid #4b4b4b;
}
/* Search Box */
.searchbox {
	z-index: 100;
	background: #000;
	padding: 100px;
	text-align: center;
	display: none;
}

.searchbox ul {
	background: #fff;
}

/* top-paragraph */
.top-paragraph {
	text-align: center;
	padding: 20px;
	margin-top: 50px;
}
.title {
	font-weight: 600;
	color: #1d1d1f;
	padding: 10px;
	margin-top: 50px;
}
.text {
	max-width: 90%;
	margin: 0 auto;
}
/* iPhone Pro */
.iPhone16-Pro {
	background-image: url("../images/home/iphonepro.jpg");
	height: 580px;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: initial;
	background-color: #fbfbfd;
	text-align: center;
	padding: 65px 20px;
	color: #fff;
	margin-bottom: 10px;
}

.ipad-caption {
	color: #86868b;
	font-size: 12px;
	line-height: 1.33337;
	font-weight: 400;
	letter-spacing: -0.01em;
	padding-top: 310px;
}
.iPhone16bg-Pro {
	background-image: url("../images/home/iPhone16-bg.jpg");
	height: 550px;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: initial;
	background-color: #fbfbfd;
	text-align: center;
	padding: 65px 20px;
	color: #fff;
	margin-bottom: 10px;
}
.Watch {
	background-image: url("../images/home/watchpro.jpg");
	height: 580px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding: 65px 20px;
}
.Fitness .left-side-wrapper .left-side-container {
	background-image: url("../images/home/2025fitness.jpg");
	background-color: #000;
	padding-top: 35px;
	margin: 0 0 10px 0;
	background-size: cover;
}
.Fitness .right-side-wrapper .right-side-container {
	background-image: url("../images/home/iPad_Pro.jpg");
	background-color: #165ca9;
	background-position: bottom;
	padding-top: 35px;
	margin: 0 0 10px 0;
	background-size: auto;
}
.links-wrapper.white li a {
	color: #fff;
}
.Fitness .right-side-wrapper .title-wraper {
	max-width: 380px;
}
.title-wraper{
	margin-top: 20px;
}
/* Apple TV & Watch*/
.MacBook-Pro .left-side-wrapper .left-side-container {
	background-image: url("../images/home/10012.jpg");
	background-color: #000;
	padding-top: 35px;
	margin: 0 0 10px 0;
	background-size: cover;
}
.MacBook-Pro .right-side-wrapper .right-side-container {
	background-image: url("../images/home/10001.jpg");
	background-position: bottom;
	padding-top: 35px;
	margin: 0 0 10px 0;
	background-size: auto;
	background-color: #000;
}
.MacBook-Pro .description-wraper {
	max-width: 450px;
	margin: 7px auto;
}
.watch-more-wrapper a {
	text-decoration: none;
	font-size: 0.85em;
	color: #fff;
}
.watch-more-wrapper a:after {
	font-family: "FontAwesome";
	font-weight: 900;
	content: "\f144";
	padding-left: 15px;
}
.tvshow-logo-wraper {
	padding: 340px 0 0px;
}
/* Arcade & Apple Card*/
.Trade-AppleCard .left-side-wrapper .left-side-container {
	background-image: url("../images/home/TradeinLarge.jpg");
	background-color: #000;
	background-position: bottom;
	padding-top: 35px;
	margin: 0 0 10px 0;
	background-size: cover;
}
.Trade-AppleCard .right-side-wrapper .right-side-container {
	background-image: url("../images/home/card-lg.jpg");
	background-color: #fbfbfd;
	background-position: bottom;
	padding-top: 35px;
	margin: 0 0 10px 0;
	background-size: auto;
}
.left-side-container {
	min-height: 515px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
.right-side-container {
	min-height: 515px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
.left-side-wrapper {
	padding-right: 0px;
	padding-left: 0px;
}
.right-side-wrapper {
	padding-right: 0px;
	padding-left: 0px;
}
.Trade-AppleCard .links-wrapper {
	max-width: 300px;
	margin: 0 auto;
}
.links-wrapper ul {
	list-style: none;
}
.product-title {
	font-weight: 700;
	font-size: 56px;
}
.brief-description {
	font-size: 2em;
}
.Trade-AppleCard .description-wraper {
	max-width: 250px;
	margin: 7px auto;
}
.description-wraper.white {
	color: white;
}
.links-wrapper {
	padding: 15px 0;
}
.links-wrapper ul li {
	display: inline-block;
	padding-right: 20px;
}
.links-wrapper ul li a {
	color: #06c;
	text-decoration: none;
	font-size: 21px;
}
.title-wraper {
	font-weight: 600;
	font-size: 50px;
	margin-top: 10px;
	line-height: 1.15em;
	letter-spacing: -0.04em;
}
.title-wraper {
	font-size: 32px;
	line-height: 1.15em;
	letter-spacing: -0.04em;
}
.right-side-wrapper .title-wraper {
	max-width: 280px;
	margin: 0 auto;
}
.description-wrapper {
	font-size: 26px;
	padding: 10px 0;
}
/* Footer */
.footer {
	background-color: #f5f5f7;
	color: #86868b;
	font-size: 0.7em;
}
.footer ul {
	list-style: none;
	padding-bottom: 10px;
	padding-inline-start: 0px;
}
.footer ul a {
	color: #515154;
}
.my-apple-wrapper {
	padding-bottom: 15px;
	margin-top: 10px;
}
.copyright {
	margin-top: 15px;
}
.footer-country {
	margin-top: 8px;
}
.flag-wrapper {
	display: inline-block;
	vertical-align: middle;
	padding-right: 5px;
}
.footer-country-name {
	display: inline-block;
	vertical-align: middle;
}
.footer-links-terms ul {
	display: flex;
}
.footer-links-terms ul li {
	padding: 0 10px;
	border-right: 1px solid #d2d2d7;
}
.footer-links-terms ul li a {
	padding: 0 10px;
}
.footer-links-terms ul li:first-child {
	padding-left: 0;
	margin-left: -10px;
}
.footer-links-terms ul li:last-child {
	border-right: 0;
}
.footer-links-wrapper h3 {
	font-size: 12px;
	font-weight: 600;
	color: #1d1d1f;
}
.footer ul li {
	padding: 4px 0;
}
.upper-text-container {
	border-bottom: 1px solid #d2d2d7;
	padding: 17px 0 10px;
	margin-bottom: 20px;
}
.upper-text-container a {
	color: #515154;
}

/* Carousel */

.carousel img {
	max-width: initial;
}

.carousel {
	width: 100%;
	overflow: hidden;
}

.slides {
	position: relative;
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.slide {
	width: 100%;
	height: 500px;
	opacity: 0.7;
}

.slide:hover {
	opacity: 1;
}

#pause {
	color: white;
	font-size: 24px;
}

.circle-container {
	cursor: pointer;
	z-index: 100;
	position: absolute;
	bottom: 20px;
	right: 20px;
	border: 3px solid white;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.iPhone16-Pro .descrption-wrapper{
	font-size: 36px;
}
.links-wrapper a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px !important;
    padding: 10px 20px;
    border-radius: 25px;
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease;
  }

  .iPhone16-Pro .title-wraper{
	font: 300px;
  }
  .description-wraper{
	font-weight: 900;
  }
  .primary-btn {
	background-color: #0078d7;
	color: white !important;
	list-style: none;
	text-decoration: none;
  }
  .primary-btn:hover {
	background-color: #005bb5; 
	color: white;
	list-style: none;
	text-decoration: none;
  }
  .secondary-btn {
	background-color: transparent;
	border: 2px solid #0078d7;
	color: white;
	list-style: none;
	text-decoration: none;
  }
  .secondary-btn:hover {
	background-color: #005bb5;
	text-decoration: none;
	color: #fff;
  }
  .links-wrapper{
	color: #d2d2d7;
  }
  .by{
	font-size: 30px;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	padding: 20px;
  }
.by a{
	text-decoration: none;
}
/*Media Query*/
/* Footer */
@media (max-width: 768px) {
	.iPhone16-Pro{
		background-image: url("../images/home/iphonepro_small.jpg");
		width: 100%;
		margin-top: -30px
	}
.iPhone16-Pro .title-wraper{
		margin-top: 300px;
		width: 100%;
		font-style: bold;
		font-weight: 700;
		font-size: 25px !important;
	}
	.iPhone16-Pro .descrption-wrapper{
		font-size: 20px;
	}
	.iPhone16bg-Pro .description-wrapper{
		font-size: 20px;
	}
	.iPhone16-Pro .title-wraper{
		font-size: 15px;
		}
		.description-wrapper {
			font-size: 14px !important;
			padding: 10px 0;
		}
.links-wrapper ul li a{
	display: inline-block
}
.iPhone16-Pro .descrption-wrapper{
	font-size: 20px !important;
}
	}
	.iPhone16bg-Pro .descrption-wrapper{
		font-size: 20px;
	}
	
	.iPhone16bg-Pro{
		background-image: url("../images/home/iPhone16.jpg");
	}
	.iPhone16bg-Pro .title-wraper{
		margin-top: -50px;
	}
	
	.MacBook-Pro .right-side-wrapper{
		background-image: url("../images/home/Watch1.jpg");
		width: 100%;
	}
	.iPhone16-Pro .title-wraper{
		font-size: 4rem;
	}
	.by  {
		font: 16px;
		margin-bottom: 0px;
	}
	.title-wraper{
		font-size: 20px;
	}
	
	.footer-links-wrapper ul {
		display: none;
	}
	.footer-links-wrapper h3.expanded:after {
		font-family: "FontAwesome";
		content: "\f068";
		padding-left: 10px;
		position: absolute;
		right: 25px;
	}
	.footer-links-wrapper h3 {
		padding: 10px 0;
		border-bottom: 1px solid #ccc;
	}
	.footer-links-wrapper h3:after {
		font-family: "FontAwesome";
		content: "\f067";
		padding-left: 10px;
		position: absolute;
		right: 25px;
	}
@media (min-width: 768px) {
	/*Nav bar*/
	.nav-item {
		text-align: center !important;
		padding: 0;
		border-bottom: 0px;
	}
	/*Alert section*/
	.alert-text {
		max-width: 85%;
		margin: 0 auto;
	}
	/* First section */
	.iPhone16-Pro {
		background-image: url("../images/home/iphonepro.jpg");
		width: 100%;
	}

	.iPhone16-Pro{
		margin-top: 55px;
	}
	.ipad-caption {
		padding-top: 415px;
	}
	/* Second section */
	.iPhone16bg-Pro {
		width: 100%;
		background-image: url("../images/home/iPhone16-bg.jpg");
	}
	.new-alert {
		color: #bf4801;
		font-size: 18px;
		margin-top: 100px;
	}
	/*fourth section*/
	.Fitness .left-side-wrapper .left-side-container {
		margin: 10px 5px 5px 10px;
	}
	.Fitness .right-side-wrapper .right-side-container {
		margin: 10px 10px 5px 5px;
	}
	.title-wraper.bold {
		font-size: 56px;
	}
	/*Fifth section*/
	.MacBook-Pro .left-side-wrapper .left-side-container {
		margin: 5px 5px 5px 10px;
	}
	.MacBook-Pro .right-side-wrapper .right-side-container {
		margin: 5px 10px 5px 5px;
	}
	/*Sixth section*/
	.Trade-AppleCard .left-side-wrapper .left-side-container {
		margin: 5px 5px 10px 10px;
	}
	.Trade-AppleCard .right-side-wrapper .right-side-container {
		margin: 5px 10px 10px 5px;
	}
	.Trade-AppleCard .links-wrapper {
		max-width: 500px;
	}
	/*Footer styling*/
	.my-apple-wrapper {
		border-bottom: 1px solid #d2d2d7;
	}
}
@media (min-width: 992px) {
	/*Footer styling*/
	.copyright {
		margin-top: 10px;
	}
	.footer-country {
		margin-top: 10px;
	}
	.footer-links-terms {
		margin-top: 10px;
	}
}